<div class="cart_section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <div class="cart_container">
          <div class="cart_title">
            <div>{{ cartItemA.length }} item(s) in your cart</div>
          </div>
          <div *ngFor="let cartItem of cartItemA" class="text-center">
            <app-cart-item
              [icart]="cartItem"
              (deleteCartItemId)="getDeleteCartItemId($event)"
            ></app-cart-item>
          </div>
          <div class="cart_buttons">
            <div *ngIf="cartItemA.length !== 0">
              <button type="button" class="button cart_button_checkout">
                Checkout
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
